/*
	99Lime.com HTML KickStart by Joshua Gatcke
	style.css
	
*/

/*---------------------------------
	IMPORTS
-----------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Arimo:400,700,400italic,700italic&subset=latin,cyrillic-ext,latin-ext,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Roboto:100&subset=latin,cyrillic-ext,latin-ext,cyrillic);

/*---------------------------------
	OVERRIDES
-----------------------------------*/
h1,h2,h3,h4,h5,h6{
font-family: "Arimo", arial, verdana, sans-serif;
}

thead th,
tbody th{
font-family: "Arimo", arial, verdana, sans-serif;
}

button,
a.btn,
input[type="submit"],
input[type="reset"],
input[type="button"]{
font-family: "Arimo", arial, verdana, sans-serif;
}

.menu{
font-family: "Arimo", arial, verdana, sans-serif;
}

blockquote{
font-family: "Arimo", arial, verdana, sans-serif;
}

/*---------------------------------
	LAYOUT
-----------------------------------*/
body{
margin:0;
padding:0;
color:#000;
background:#efefef url(img/noise-white.png);
font:normal 0.9em/150% 'Arimo', arial, verdana, sans-serif;
text-shadow: 0px 0px 1px transparent; /* google font pixelation fix */
}

#wrap{
width:100%;
background:#fff;
margin:30px auto 30px auto;
padding:0 2%;
border:1px solid #ccc;
}

#footer{
text-align:center;
padding:20px;
margin:0;
border-top:1px solid #ddd;
color:#999;
font-size:0.8em;
text-shadow:0px 1px 1px #fff;
position: relative;
top:0;
left:0;
background:#fff;
}

#link-top{
	display:none;
}
	
/* NAV BAR*/
.navbar{
position:fixed;
top:0;
left:0;
width: 100%;
background:#000;
color:#fff;
z-index:1000;
}

	.navbar #logo{
	position:absolute;
	top:0;
	right:0;
	padding:0.5em 1em;
	font-size: 1.7em;
	color:#efefef;
	text-decoration:none;
	}
	
	.navbar span{
	color:#86dc00;
	}
	
	
	.navbar ul{
	display:inline-block;
	margin:0;
	padding:0;
	}
	
		.navbar li{
		margin:0;
		padding:0;
		list-style-type:0;
		display:inline-block;
		}
		
		.navbar li a{
		display:inline-block;
		color:#efefef;
		padding:1em 1.3em;
		text-decoration:none;
		text-transform: uppercase;
		line-height:100%;
		font-size: 1.2em;
		}
		
.callout{
background:#4598ef;/*#86dc00;*/
padding:3em 0;
color:#fff;
box-shadow:inset 0px 0px 10px rgba(0,0,0,0.2);
text-align: center;
text-shadow:0px 1px 3px rgba(0,0,0,0.2);
display:block;
}
	.callout + div.grid{margin-top:50px;}
	 a.callout{cursor:pointer;}
	 .callout i.icon-4x{font-size:6em;}
	 .callout h4{margin-bottom:30px;}
	 .callout-top{margin:50px 0 0 0;}
	 .callout p{margin-bottom:0;}
	 .callout .button{margin-top:10px;}
	 .callout.green{background:#19ad0b;/*#86dc00;*/}
	 
#mc_embed_signup{
padding:30px 0;
}

#ui-preview{
border:5px solid #ddd;
margin:30px 0;
display:block;
}

.block-content {
border: 1px solid #e5e5e5;
background: #fff;
clear: both;
margin: 0 auto 40px auto;
}

ul.tabs {
	margin-top: 0;
}

table th {
	width: 25%;
	min-width: 160px;
}

#anime-info-box .tab-content {
	border: none;
	margin-bottom: 0;
	padding-bottom: 0;
}

#anime-info-box .tab-content  table{
	margin-bottom:0;
}

h1 {
	color: #ddd;
	text-shadow: 0 -1px 1px #fff, 0 1px 1px #666;
}

/* robounohito */

.head-menu, .foot-menu{
	width:100%;	
	background:url(img/noise-head.png) repeat;
	/*box-shadow: inset 0px 0px 10px rgba(202, 199, 204, 0.2);*/
	text-shadow: 0px 1px 3px rgba(196,195,195,0.3);
	display: block;
	text-decoration: none;
	max-width:100%;
	min-width:960px;
	height:45px;
	margin-bottom:50px;
	border-bottom:1px rgb(225, 225, 225) solid;
}

.head-div, .foot-div{
	width:960px;
	height:45px;
	min-width:960px;
	margin:0 auto;
}

.head-div .menu{
	border:none;
	background:none;
}

.head-div .menu li a {
	padding: 10px 20px;
}

.head-div  .menu li a:hover, .head-div  .menu li.hover>a  {
	background:none;
}

.head-div  .menu li  ul li a:hover, .head-div  .menu li ul li.hover>a  {
	background:#f5f5f5;
}

/*
.head-div  .menu li.hover>a {
	background: #f5f5f5;
}*/

#uanidb-logo a{
	background:url(img/totoro.png) 0px 0px no-repeat;
	display: block;
	float: left;
	width:56px;
	height:45px;
	text-indent: -1999px;
}

.head-text, .head-text h1{
	margin-top:0px;
	line-height:43px;
	font-size:23px;
	letter-spacing: -1px;
	color:rgb(182, 183, 185);
}

.head-text a{
	color:inherit;
	text-decoration:inherit;
}

.head-search{
	margin:11px 0 0 12px;
	padding:0;
	width:255px;
}

.head-search button.small{
	-moz-border-radius: 0px 5px 5px 0px;
	-webkit-border-radius: 0px 5px 5px 0px;
	border-radius: 0px 5px 5px 0px;
	display:inline-block;
	float:right;
	height:24px;
	padding:4px 10px;
}

.head-search input{
	-moz-border-radius: 5px 0px 0px 5px;
	-webkit-border-radius: 5px 0px 0px 5px;
	border-radius: 5px 0px 0px 5px;
	width:140px;
	height:24px;
	font-size:13px;
	display:block;
	float:right;
	transition: width 0.1s;
	-webkit-transition: width 0.1s;
	padding:3px auto;
}

.head-search input:focus{
	width:154px;
}

.head-signout{
	margin:12px 0 auto auto;
	width:20px;
}

.block-content {
	width:auto;
	-moz-border-radius: 7px;
	-webkit-border-radius:7px;
	border-radius: 7px;
	padding: 30px;
}

.block-content h2{
	font-size:45px;
	font-weight:lighter;
	margin:0px auto 16px 10px;
	padding-top:0px;
	line-height:60px;
	letter-spacing: -1px;	
	font-family: 'Roboto', sans-serif;
}

#info-title{
	display:inline-block;
	float:left;
	width:790px;
}

#info-edit{
	display:inline-block;
	float:right;
	width:54px;
	margin:25px 10px 0 0;
}

#info-edit .icon-magic{ 
	margin-left:10px;
	color:rgb(190, 188, 197);
}

textarea.anime-title{
	border:none;
	box-shadow:none;
	background:none;
	font-family: inherit;
	font-size: 45px;
	font-style:inherit;
	line-height:48px;
	letter-spacing: -1px;
	color: black;
	text-indent:inherit;
	margin:6px 0 0 0;
	padding:0 0 0 0;	
	vertical-align: top;
	cursor:text;
	overflow:hidden;
	text-overflow:ellipsis;
	width:777px;
	height:40px;
	resize: none;
}

.info-focused:focus{
	outline:none;
	box-shadow:0 0 5px rgb(255, 144, 42);
	border-radius: 4px;	
}

input.anime-info{
	border:none;
	box-shadow:none;
	background:none;
	color: #444;
	text-indent:inherit;
	font-size: 13px;
	font-weight:normal;
	line-height:21px;
	letter-spacing: 0px;
	margin:0px 0 0 0;
	padding:0;	
	vertical-align: top;
	cursor:text;
	overflow:hidden;
	text-overflow:ellipsis;
	width:310px;
	height:21px;
	resize: none;
}

.grid{
	max-width:960px;
	min-width:960px;
	width:960px;
	padding:0;
}

#td-genres{
	padding: 3px 0px 3px 10px;
}

#synopsis{
	margin: 20px auto 0px auto;
}

#synopsis p{
	font-size:16px;
	line-height:25px;
	margin: 0px 10px 18px 10px;
}

textarea.anime-synopsis{
	width:100%;
	border:none;
	box-shadow:none;
	background:none;
	color: black;
	text-indent:inherit;
	margin:0 0 0 0;
	padding:0 0 0 0;	
	vertical-align: top;
	cursor:text;
	overflow:hidden;
	text-overflow:ellipsis;
	resize: none;
	font-size:16px;
	line-height:25px;
	margin: 0px 10px 18px 10px;
}

#under-synopsis{
	margin-bottom:25px;
}

#under-synopsis p {
	margin-top:20px;
}

#under-synopsis hr{
	margin:15px 0px;
}

#main-image a img{
	width:265px;
	height:323px;
	max-width: 100%;
}

.foot-menu{
	display:block;
	float:left;
	width:100%;
	background:url(img/noise-head.png) repeat;
	display: block;
	max-width:100%;
	min-width:960px;
	height:145px;
	margin-bottom:0px;
	border-bottom:0px #dedede solid;
}

.foot-menu p{
	color:grey;
	font-size:16px;
}

.foot-menu p a{
	color:#bbb;
}

.foot-div, .foot-div a {
	color:white;
}

.foot-div .pull-left{
	margin:20px auto auto 15px;
}

.foot-div .pull-right{
	margin:20px 15px auto auto;
}

#add_genre{
	margin-left:20px;
}

#add_genre .form-input, #add_genre label{
	width:400px;
}

#add_genre .form-input{
	margin-bottom:15px;
}

#add_genre .form-textarea{
	height:120px;
}

#add_genre .form-textarea, #add_genre label{
	width:400px;	
}

#fancybox-content, #fancybox-outer{
	border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

div#fancybox-wrap {
	//left: 320px !important;
}

#select-type{
	vertical-align: top;
	height: 21px;
	padding:0px;
}

.dimmed, input.dimmed{
	color: #b3b3b3;
}

/* tokeninput style: Facebook style */

ul.token-input-list-facebook {
    overflow: hidden; 
    height: auto !important; 
    height: 1%;
    width: 100%;
    cursor: text;
    min-height: 1px;
    z-index: 999;
    margin: 0;
    padding: 0;
    background-color: #fff;
    list-style-type: none;
    clear: left;
}

ul.token-input-list-facebook li input {
    border: 0;
    width: 100px;
    background-color: white;
    margin: 2px 0;
    -webkit-appearance: caret;
}

li.token-input-token-facebook {
    overflow: hidden; 
    height: auto !important; 
    height: 15px;
    margin: 3px;
    padding: 0px 4px;
    background-color: #eff2f7;
    color: #000;
    cursor: default;
    border: 1px solid #ccd5e4;
    font-size: 11px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    float: left;
    white-space: nowrap;
}

li.token-input-token-facebook p {
    display: inline;
    padding: 0;
    margin: 0;
}

li.token-input-token-facebook span {
    color: #a6b3cf;
    margin-left: 5px;
    font-weight: bold;
    cursor: pointer;
}

li.token-input-selected-token-facebook {
    background-color: #5670a6;
    border: 1px solid #3b5998;
    color: #fff;
}

li.token-input-input-token-facebook {
    float: left;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li.token-input-input-token-facebook  input{
	box-shadow:none;
	outline:none;
	margin-left:3px;
}

li.token-input-input-token-facebook  input:focus{
	outline:none;
	box-shadow:none;
	border:none;
}

div.token-input-dropdown-facebook {
    position: absolute;
    width: 400px;
    background-color: #fff;
    overflow: hidden;
    border-left: 1px dotted #ccc;
    border-right: 1px dotted #ccc;
    border-bottom: 1px dotted #ccc;
    border-radius: 0px 0px 4px 4px;
    -moz-border-radius: 0px 0px 4px 4px;
    -webkit-border-radius: 0px 0px 4px 4px;
    cursor: default;
    font-size: 11px;
    font-family: inherit;
    z-index: 1;
}

div.token-input-dropdown-facebook p {
    margin: 0;
    padding: 5px;
    font-weight: bold;
    color: #777;
}

div.token-input-dropdown-facebook ul {
    margin: 0;
    padding: 0;
}

div.token-input-dropdown-facebook ul li {
    background-color: #fff;
    padding: 3px;
    margin: 0;
    list-style-type: none;
}

div.token-input-dropdown-facebook ul li.token-input-dropdown-item-facebook {
    background-color: #fff;
}

div.token-input-dropdown-facebook ul li.token-input-dropdown-item2-facebook {
    background-color: #fff;
}

div.token-input-dropdown-facebook ul li em {
    font-weight: bold;
    font-style: normal;
}

div.token-input-dropdown-facebook ul li.token-input-selected-dropdown-item-facebook {
    background-color: IndianRed;
    color: #fff;
}
